/*
 * This is used just to have a position: relative so I can then put the tabbed panels in it.
 * it is ugly and a mess, I wonder what people where thinking when they thought about this
 * boxing model.
 */
div#tabFrame1
   {
   position: relative;
   }


div#tabMenuDiv1
   {
   /* position MUST be relative so to palce this and the TabFiller into a common z-order reference
    * this fix the Internet Explorer crappy BUG
    */
   position: relative;
   /* since the z-index is four this will be on top of the tabFiller border */
   z-index: 4;
   }

/* this is used to fill the tabs with something so they do not mess up with the page
 * This div will be used to set the size of the tabPane, the width is automatic.
 * so, basically, the only thing to set is the height, use the em unit !
 */
div#tabFiller1
   {
   /* position MUST be relative so to palce this and the TabFiller into a common z-order reference
    * this fix the Internet Explorer crappy BUG
    */
   position: relative;
   background: #E8FFFF;
   border: 1px solid grey;
   height: 35em;
   /* z-Index must be lower than the one of tabMenuDiv since this div should be below it */
   z-index:1;
   }

/*
 * This defines the general properties of the tabMenu something like borders, colors, etc.
 * One important property is the z-index, it must be above the other panels.
 */
span.tabMenu, span.tabMenuOver1 {
    background: none repeat scroll 0 0 #FFCC66;
    border: 1px solid grey;
    margin: 0 0 0 12px;
    padding: 0 12px 0 10px;
}

span.tabMenuActive1 {
    background: none repeat scroll 0 0 #E8FFFF;
    border: 1px solid grey;
    margin: 0 0 0 12px;
    padding: 0 12px 0 10px;
}


/* the various tab panels are in absolute position relative to the parent, so basically
 * they all overlap one with the other.
 * The problem is that their size is dependent on the content and therefore that has to be adjusted.
 * to do this I need of javascript...
 * If you want to define some special fonts for the tabbed pane, do it here.
 */
div.tabPane1
  {
  position: absolute;
  margin: 2px;
  overflow: auto;
  /* the background of this must be the same of tabFiller */
  background: #E8FFFF;
  }

